/* Estilos generales */

@font-face {
  font-family: 'Arca Majora3';
  src: url('ArcaMajora3-Bold.otf') format('truetype');
  /* Si la fuente está en formato OTF, utiliza la siguiente línea en su lugar */
  /* src: url('ruta/a/tu/fuente/prime-light.otf') format('opentype'); */
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Arca Majora3';
  margin: 0;
  padding: 0;
  color: #000;
  background-color: #f7f0e9; /* Beige suave (#f7f0e9) */
}

/* Encabezado */

/* Header */

header {
  background-color: #f7f0e9; /* Beige suave (#f7f0e9) */
  padding: 20px;
  text-align: center;
  color: #052a4f; /* Navy (#052a4f) */
}

h1 {
  font-size: 28px;
  margin-bottom: 10px;
}

.social-media {
  margin-top: 20px;
}

.social-media a {
  text-decoration: none;
  color: #052a4f; /* Navy (#052a4f) */
  font-size: 16px;
  margin: 0 10px;
}

.social-media a:hover {
  color: #00bcd4; /* Celeste (#00bcd4) */
}

.social-media a.instagram-button:hover {
  color: #ff9800; /* Naranja (#ff9800) */
}

/* Hero Section */

#hero {
  background-image: url('hero-background.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #052a4f; /* Navy (#052a4f) */
  text-align: center;
}

.hero-text {
  max-width: 500px;
}

.hero-text h2 {
  font-size: 40px;
  margin-bottom: 20px;
}

/* Services Section */

#services {
  padding: 40px;
  text-align: center;
}

h2 {
  margin-bottom: 40px;
  font-size: 32px;
  transition: font-size 0.3s ease-in-out;
}

h2:hover {
  font-size: 36px;
}

.service {
  margin-bottom: 60px;
}

.service h3 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  transition: font-size 0.3s ease-in-out;
}

.service h3:hover {
  font-size: 28px;
}

.service p {
  transition: box-shadow 0.3s ease-in-out;
  max-width: 80%;
  margin: 0 auto;
}

.service:hover p {
  box-shadow: 0 0 5px rgba(5, 42, 79, 0.3); /* Cambia el color del borde a navy (#052a4f) */
}

/* Footer */

footer {
  background-color: #052a4f; /* Navy (#052a4f) */
  color: #f7f0e9; /* Beige suave (#f7f0e9) */
  text-align: center;
  padding: 20px;
}

.footer-description {
  margin-top: 10px;
}

/* Nuevos estilos */

.services-title {
  font-size: 36px;
  transition: font-size 0.3s ease-in-out;
}

.services-title:hover {
  font-size: 40px;
}

.social-media {
  margin-top: 20px;
}

.social-media a {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 50px;
  background-color: #052a4f; /* Navy (#052a4f) */
  color: #f7f0e9; /* Beige suave (#f7f0e9) */
  text-decoration: none;
  margin-right: 10px;
  transition: background-color 0.3s ease-in-out;
}

.social-media a:hover {
  background-color: #00bcd4; /* Celeste (#00bcd4) */
  color: #000; /* Negro (#000) */
}

.social-media a.instagram-button:hover {
  background-color: #ff9800; /* Naranja (#ff9800) */
  color: #000; /* Negro (#000) */
}

/* Nuevos estilos */

.services-text {
  font-size: 24px;
  transition: font-size 0.3s ease-in-out;
  transition-property: font-size, color;
}

.services-text:hover {
  font-size: 28px;
}

header {
  opacity: 0;
  animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.fade-up {
  opacity: 0;
  transform: translateY(20px);
}

.visible {
  opacity: 1;
  transform: none;
  transition: opacity 1s, transform 1s;
}

.scroll-down-reveal {
  opacity: 0;
  transform: translateY(20px);
}

.visible-scroll-down {
  opacity: 1;
  transform: none;
  transition: opacity 1s, transform 1s;
}
